<main class="main">
  <div class="content">
    @if(strapiService.strapiData$ | async; as strapiData){
    <list-component [restaurantData]="strapiData.data" />
    <div>
      <!-- Pagination buttons -->
      <button
        (click)="strapiService.previousPage()"
        [disabled]="strapiData.meta.pagination.page === 1"
      >
        Previous
      </button>
      <span>{{ strapiData.meta.pagination.page }}</span>
      <button
        (click)="strapiService.nextPage()"
        [disabled]="
          strapiData.meta.pagination.page *
            strapiData.meta.pagination.pageSize >=
          strapiData.meta.pagination.total
        "
      >
        Next
      </button>
    </div>
    }
  </div>
</main>

<!-- <router-outlet></router-outlet> -->
